# These are just demo keys for dev environment they dont reflect the actual data of original website.
#make a .env and copy paste these keys for dev environment
FIREBASE_API_KEY=AIzaSyBKM9Mm3Uazo9GLiRboXObAuElYHCt7kD4
FIREBASE_PROJECT_ID=notakto-stage
NEXT_PUBLIC_API_URL="http://notakto-solo-one.vercel.app/v1" # To be replaced with local host of notakto-solo go backend server
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBKM9Mm3Uazo9GLiRboXObAuElYHCt7kD4
NEXT_PUBLIC_FIREBASE_APP_ID=1:99146292559:web:6b1b3784410996960bb93a
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=notakto-stage.firebaseapp.com
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-ZPYMD0P36S
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=99146292559
NEXT_PUBLIC_FIREBASE_PROJECT_ID=notakto-stage
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=notakto-stage.firebasestorage.app